@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: linear-gradient(135deg, #148bf3, #7717f4);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #05d544;
    color: rgb(0, 0, 0);
}

.pick-button {
    background: #3bdbff;
    color: black;
    margin-top: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 150px;
    background: #ff4081;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-content {
    position: absolute;
    backface-visibility: hidden;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #859ae4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: yellow;
    transform: rotateY(180deg);
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 3px 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.result-box {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: yellow;
}
